#mnuLogout {
    
    text-decoration:none;
    color:#333333;
    padding:0px 0px 0px 20px;
}

#mnuLogout:hover {
    padding-top:2px;
      padding-bottom:2px;
    color:#FFFFFF;
    text-decoration:none;
    background-color:#e95420;
    display:block;
}
