<div class="footer">
    <div class="container">
        <p class="copyright">Copyright © TutorSeeker 2017. All right reserved.</p>
       
        <a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
    </div>
</div>
